<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= customer.phone_number %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= customer.dob %>
  </p>

  <p>
    <strong>Membership:</strong>
    <%= customer.membership %>
  </p>

</div>
